{
  "tabWidth": 2,
  "semicolons": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "objectWrap": "collapse",
  "singleQuote": true,
  "trailingComma": "none"
}
