@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(244, 244, 244);
  --clr-primary-300: rgb(233, 233, 233);
  --clr-primary-400: rgb(117, 117, 117);
  --clr-primary-500: rgb(58, 58, 58);
  --clr-primary-600: rgb(45, 45, 45);
  --clr-primary-700: rgb(31, 31, 31);
  --clr-primary-800: rgb(5, 5, 5);
  --clr-accent-400: rgb(164, 69, 237);
  --clr-error-400: rgb(255, 82, 82);
  --font-serif: var(--font-inconsolata-serif);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-lora-mono);
  --text-main: 4rem;
  --text-h2: 1.5rem;
  --text-h3: 1.25rem;
  --text-h4: 1.125rem;
  --text-h5: 0.875rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-auto-rows: auto;
}

@media (min-width: 768px) {
  .main-content {
    grid-gap: 2.5rem;
  }
}

.meaning-wrapper > * + * {
  margin-top: 1rem;
}

.input-wrapper::before {
  content: url('../../public/assets/images/icon-search.svg');
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

img:hover path {
  fill: white;
}

input[type='checkbox'] {
  display: inline-block;
  width: 40px;
  height: 20px;
  appearance: none;
  border-radius: 0.625rem;
  position: relative;
  padding: 3px;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  height: 14px;
  aspect-ratio: 1 / 1;
  background-color: var(--clr-primary-100);
  border-radius: 100vw;
  transition: all 0.25s ease-in-out;
}

input[type='checkbox']:checked::before {
  left: calc(100% - 17px);
}

select {
  appearance: none;
  background-image: url('../../public/assets/images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-size: 12px 6px;
  background-position: right 0 top 15px;
  padding-right: 2rem;
  height: 100%;
}

.transition {
  transition: all 0.5s ease-in-out;
}

.theme-wrapper::before {
  content: '';
  display: inline-block;
  height: 36px;
  width: 1px;
  background-color: var(--clr-primary-300);
}

@media (prefers-color-scheme: dark) {
  .moon-icon {
    fill: orange;
  }
}

select:focus-within option:hover {
  box-shadow: 0 0 10px 10px #1ba1e2 inset;
}
